<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel Guanabara</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/pacotes.css" />
    <link rel="stylesheet" href="~/css/contato.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/privacy.css" />
    <link rel="stylesheet" href="~/css/suites.css" />
    <link rel="stylesheet" href="~/css/cadastro.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="title" asp-area="" asp-controller="Home" asp-action="Index">Hotel Guanabara</a>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Pacotes" asp-action="Index">Pacotes</a>
                    </li>
                    <li class="nav-item">
                        <a style="width: 6.5rem" class="nav-link text-light" asp-area="" asp-controller="Sobre" asp-action="Index">Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <section class="sihotel-ancora">
            <a asp-area="" asp-controller="Home" asp-action="Index">Sihotel &#174;</a>
        </section>

        <section class="footer-contato">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Contato" asp-action="Index">Entre em contato</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Politica de privacidade</a>
        </section>

        <section class="redes-sociais">
            <a target="_blank" href="https://pt-br.facebook.com/"><img class="a-redes-sociais" src="imagens/facebook.png"></a>
            <a target="_blank" href="https://www.instagram.com/"><img class="a-redes-sociais" src="imagens/instagram.png"></a>
            <a target="_blank" href="https://twitter.com/?lang=pt-br"><img class="a-redes-sociais" src="imagens/twitter.png"></a>
        </section>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
