@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Presidencial";
}

<main class="main-suite">
    <div class="container-suite">
        <div class="img-quarto-suite">
            <img src="../imagens/suite-presi.jpeg" alt="">
        </div>

        <div class="info-quarto-suite">
            <h2 class="presi-suite">Suíte Presidencial</h2>

            <div class="detalhes-quarto-suite">
                <p><span class="detalhe-suite">Tamanho: </span>50m²</p>
                <p><span class="detalhe-suite">Camas: </span>1 casal e 1 solteiro</p>
            </div>

            <div class="hora-check-suite">
                <p><span class="check-info-suite">Checkin:</span> a partir das 7h</p>
                <p><span class="check-info-suite">Checkout:</span> até 15h</p>
            </div>

            <div class="preco-quarto-suite">
                <p>De <span class="preco-de-suite">R$3999.90</span></p>
                <p>Por <span class="preco-por-suite">R$1799.99</span></p>
            </div>

        </div>

        <input type="button" class="btn-enviar-suite" value="Confirmar Reserva">

    </div>
</main>