@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Casal";
}

<main class="main-suite">
    <div class="container-suite">
        <div class="img-quarto-suite">
            <img src="../imagens/suite-casal.jpg" alt="">
        </div>

        <div class="info-quarto-suite">
            <h2 class="jr-suite">Suíte Casal</h2>

            <div class="detalhes-quarto-suite">
                <p><span class="detalhe-suite">Tamanho: </span>10m²</p>
                <p><span class="detalhe-suite">Camas: </span>1 casal</p>
            </div>

            <div class="hora-check-suite">
                <p><span class="check-info-suite">Checkin:</span> a partir das 10h</p>
                <p><span class="check-info-suite">Checkout:</span> até 11h</p>
            </div>

            <div class="preco-quarto-suite">
                <p>De <span class="preco-de-suite">R$799.90</span></p>
                <p>Por <span class="preco-por-suite">R$659.00</span></p>
            </div>

        </div>

        <input type="button" class="btn-enviar-suite" value="Confirmar Reserva">

    </div>
</main>