@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
}

.main-contato {
    height: 48rem;
}

.main-contato {
    margin-top: 8vh;
}

    .main-contato h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3.5rem;
    }

    .main-contato h2 {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        font-weight: unset;
    }

    .main-contato img {
        height: 50px;
    }

    .main-contato form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .main-contato form label {
            font-size: 1.2rem;
            position: relative;
            margin-top: 15px;
            margin-bottom: 5px;
            right: 11rem;
        }

        .main-contato form input {
            height: 40px;
            width: 400px;
            font-size: 1rem;
            padding-left: 8px;
        }

    .main-contato textarea {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        padding-left: 8px;
        padding-top: 7px;
    }

    .main-contato form textarea {
        height: 200px;
        width: 400px;
    }

    .main-contato .txt-msg {
        position: relative;
        right: 9.5rem;
    }

    .main-contato button {
        margin-top: 12px;
        border: solid 1px #25B08F;
        background-color: #25B08F;
        border-radius: 5px;
        width: 400px;
        height: 40px;
        color: #fff;
        font-size: 1.2rem;
    }

        .main-contato button:hover {
            background-color: #1a7964;
            border: solid 1px #1a7964;
            cursor: pointer;
        }

    .main-contato .obrigado {
        font-weight: unset;
        margin-top: 8px;
        margin-left: 10px;
    }
