@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    font-size: 14px;
    width: 100% !important;
}

header {
    background-color: #25b08f;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
    margin-bottom: 1rem;
}

    header ul {
        list-style: none;
        display: flex;
        margin-right: 1rem;
    }

        header ul li {
            position: relative;
            padding: 8px;
        }

    header > .logo-index > a {
        font-size: 2.7rem;
        color: #ffffff;
        text-shadow: 2px 1px 1px #000;
        font-weight: 600;
        margin-left: 2rem;
        letter-spacing: 0.1em;
    }

    header > ul > li > .cool-link {
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        font-size: 1.4rem;
    }

        header > ul > li > .cool-link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: rgb(255, 255, 255);
            transition: width .2s;
        }

        header > ul > li > .cool-link:hover::after {
            width: 100%;
        }


/* FOOTER */
.footer-index {
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    align-items: center;
}

.redes-sociais {
    display: flex;
}

    .redes-sociais img {
        height: 30px;
        padding: 10px;
    }

        .redes-sociais img:hover {
            opacity: 0.8;
        }

.logo-footer {
    font-size: 1.5rem;
    color: #cfcfcf;
    margin-left: 5rem;
    letter-spacing: 0.1em;
}

.footer-contato a {
    margin-right: 15px;
    color: #cfcfcf;
    font-size: 1.2rem;
}

    .footer-contato a:hover {
        border-bottom: solid 1px grey;
        text-decoration: none;
    }
